{% extends 'base.html' %}
{% load static %}
{% block title %}home{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home_css.css' %}">
{% endblock %}
{% block content %}
    
    <h2>Latest Photos</h2>
    <div class="photo-grid">
        {% for photo in latest_photos %}
        <div class="photo-item">
            <a href="{% url 'view_photo_by_id' id=photo.id %}">
                <img src="{{ photo.image.url }}" alt="{{ photo.caption }}">
            </a>
            <p>{{ photo.caption }}</p>
            <p>Uploaded by: {{ photo.user.username }}</p>
            <p>Likes: {{ photo.likes }}</p>
            {% if user.is_authenticated %}
                <form action="{% url 'like_photo' photo.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Like</button>
                </form>
            {% else %}
                <p><a href="{% url 'account_login' %}">Log in</a> to like this photo.</p>
            {% endif %}
        </div>
        
        {% endfor %}
    </div>
    <!-- Add navigation for Next and Previous if needed -->

    <h2>Most Liked Photos</h2>
    <div class="photo-grid">
        {% for photo in most_liked_photos %}
        <div class="photo-item">
            <a href="{% url 'view_photo_by_id' id=photo.id %}">
                <img src="{{ photo.image.url }}" alt="{{ photo.caption }}">
            </a>
            <p>{{ photo.caption }}</p>
            <p>Uploaded by: {{ photo.user.username }}</p>
            <p>Likes: {{ photo.likes }}</p>
            {% if user.is_authenticated %}
                <form action="{% url 'like_photo' photo.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" >Like</button>
                </form>
            {% else %}
                <p><a href="{% url 'account_login' %}">Log in</a> to like this photo.</p>
            {% endif %}
        </div>
        
        {% endfor %}
    </div>
   
    {% endblock %}