{% extends 'base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pass_reset_css.css' %}">
{% endblock %}
{% block content %}
<div class="password-reset-container">
    <h2>Password Reset</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send Reset Email</button>
    </form>
    <p><a href="{% url 'account_login' %}">Back to Login</a></p>

</div>
{% endblock %}
